@using RobotTR.Portal.MVC.Extensions
@using RobotTR.WebAPI.Core.User

@inject IAspNetUser AppUser


@{
    ViewData["Title"] = "RoboTR";
}

<div class="text-center">
    @*@if (AppUser.IsAuthenticated())
        {
            <h1 class="display-4">Bem vindo, @AppUser.Name!</h1>
        }
        else
        {
            <h1 class="display-4">Bem vindo!</h1>
        }*@
    <h1 class="display-4">Bem vindo!</h1>
    <hr />
    <p>O RoboTR é um portal para auxiliar os recrutadores de profissionais de TI a encontrarem os candidatos mais aderentes para as vagas existentes. Entenda mais sobre o funcionamento do RoboTR com esse tutorial:</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/526Dpyz8MaQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
