@using RobotTR.Portal.MVC.Extensions
@using RobotTR.WebAPI.Core.User

@inject IAspNetUser AppUser


@{
    ViewData["Title"] = "RobotTR";
}

<div class="text-center">
    @*@if (AppUser.IsAuthenticated())
        {
            <h1 class="display-4">Bem vindo, @AppUser.Name!</h1>
        }
        else
        {
            <h1 class="display-4">Bem vindo!</h1>
        }*@
    <h1 class="display-4">Bem vindo!</h1>
</div>
