@model RobotTR.Portal.MVC.Models.JobViewModel

@{
    ViewData["Title"] = "RoboTR | Editar";
}

<h1>Editar vaga</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Id" class="form-control" hidden value=@Model.Id />
            </div>
            <div class="form-group">
                <input asp-for="OwnerId" class="form-control" hidden value=@Model.OwnerId />
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Título: </label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level" class="control-label">Nível:</label>
                <br/>
                <select asp-for="Level" asp-items="Html.GetEnumSelectList<LevelEnum>()">
                    <option selected=@Model.Level value="">Selecione um nível</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Languages" class="control-label">Linguagens:</label>
                <br />

                <select asp-for="Languages"
                        multiple="multiple"
                        asp-items="@ViewBag.Languages"></select>
                <span asp-validation-for="Languages" class="text-danger"></span>
                <br />
            </div>
            <div class="form-group">
                <label asp-for="Frameworks" class="control-label">Frameworks:</label>
                <br />
                <select asp-for="Frameworks"
                        multiple="multiple"
                        asp-items="@ViewBag.Frameworks"></select>
                <span asp-validation-for="Frameworks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para lista de vagas</a>
</div>

