@model RobotTR.Portal.MVC.Models.AnalyzerRequestViewModel

@{
    ViewData["Title"] = "RobotTR | Analisador";
}

<h1>Analisador</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="GetResult">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Job" class="control-label">Vaga proposta:</label>
                <br />
                <select asp-for="Job" asp-items="@ViewBag.Jobs">
                    <option selected="selected" value="">Selecione uma vaga</option>
                </select>
                <span asp-validation-for="Job" class="text-danger"></span>
                <br />
                <label asp-for="ExperienceYears" class="control-label">Anos de Experiência:</label>
                <input asp-for="ExperienceYears" class="form-control" />
                <span asp-validation-for="ExperienceYears" class="text-danger"></span>
                <br />
                <label asp-for="GithubUsername" class="control-label">Usuário do Github:</label>
                <input asp-for="GithubUsername" class="form-control" />
                <span asp-validation-for="GithubUsername" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Analisar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}